<?xml version="1.0"?>
<launch>

    <arg name="rover_name"  default="scout_1"/>



    <!-- Launch sensor rectification -->
    <include file="$(find csi_rover_sensors)/launch/csi_rover_sensors.launch" />

    <node pkg="csi_rover_launcher" type="startup_node.py" name="startup_node" output="screen" />
    
    <!-- Launch Navigation ( Move Base )-->
    <include file="$(find csi_rover_localizer)/launch/localizer.launch" />

    <!-- Launch vision system -->
    <include file="$(find csi_rover_vision)/launch/vision.launch" />

    <!-- Launch Navigation ( Move Base )-->
    <include file="$(find csi_rover_navigation)/launch/navigation.launch" />

    <!-- Launch rover control -->
    <include file="$(find csi_rover_controls)/launch/csi_rover_controls.launch" />

    <!-- Launch watchdog for rover -->
    <include file="$(find csi_rover_watchdog)/launch/launch_watchdog.launch" />

</launch>
