<?xml version="1.0"?>
<launch>

    <arg name="namespace" default="scout_1"/>

    <env name="GAZEBO_PLUGIN_PATH" value="$(find csi_rover_controls)/../../devel/lib"/>

<!--    <node pkg="tf" type="static_transform_publisher" name="static_world_to_odom_publisher" args="0 0 0 0 0 0 /world /odom 100"/>-->


    <!-- Launch robot motion controller 
    <node name="rover_controller" pkg="csi_rover_controls" type="rover_motion_controller.py" >
    </node>-->

    <node name="rover_wheel_encoders" pkg="csi_rover_controls" type="rover_wheel_encoders.py" >
        <!-- params ... -->
    </node>


</launch>
